main {
    width: 60%;
    margin: 100px auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#main {
    width: 100%;
    height: 400px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    border: 1px solid gray;
    text-align: center;
    font-size: 32px;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-weight: bold;
    color: teal;
    background: whitesmoke;
    cursor: pointer;
    user-select: none;
    transition: .2s ease-in;
}

nav li:hover {
    background: wheat;
    color: tomato;
}

#play {
    width: 600px;
}

#prev,
#next {
    width: 100px;
}

.thumbnails {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.thumbnails img {
    width: 120px;
    height: 100px;
    padding: 10px 0;
    transition: .2s;
    cursor: pointer;
    object-fit: cover;
    opacity: .8;
}

.thumbnails img:hover {
    opacity: 1;
}


.thumbnails .current {
    outline: 5px solid pink;
    /* opacity: none;  opacityをなくすには？？？*/
}


